<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugengkj.dance.mapper.TicketMapper">
    <select id="selectOneByOpenId" resultType="com.wugengkj.dance.entity.Ticket">
        SELECT t.* FROM ticket t, user u WHERE t.id = u.ticket_id AND u.open_id = #{openId}
    </select>
</mapper>